# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "10a94a44b15c31ff5dd7ea8224c955c5"
name = "disc-theme-app"
application_url = "https://trail-recordings-attacks-dvds.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products,read_discounts,write_discounts"


[auth]
redirect_urls = [
  "https://devdiscounttheme.myshopify.com/api/auth",
  "https://devdiscounttheme.myshopify.com/auth/callback"
]
